

#contenido{
    width: 50%;
    position: relative;
    left: 25%;
}

#cerrarSesion{
    display: none;
    text-align: center;
}

#msgBienvenida{

}



#datosLogin table{
    width: 90%;
    position: relative;
    left: 5%;
}

#datosLogin table input{
    width: 100%;
}

#btnLogin{
    width: 100%;
}

#estado{
    color: red;
    text-align: center;
}